
<nav class="max-w-7xl m-auto border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap md:justify-evenly justify-between items-center mx-auto">
    <a href="/" class="">
      <span class="sr-only">That's so gay</span>
      <img src="./img/tsg3.png" class="w-14 h-14" alt="">
    </a>
    
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-8 h-8" aria-hidden="true" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class=" flex flex-col p-4 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-base md:font-medium md:border-00">
        <li>
          <a href="/about" class="block py-2 pr-4 pl-3  md:hover:text-lime md:p-0">About</a>
        </li>
        <li>
          <a href="/examples" class="block py-2 pr-4 pl-3  md:border-0  md:hover:text-lime md:p-0">Examples</a>
        </li>
        <li>
          <a href="/resources" class="block py-2 pr-4 pl-3 rounded  md:hover:bg-transparent md:border-0  md:hover:text-lime md:p-0">Resources</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 rounded md:hover:bg-transparent md:border-0  md:hover:text-lime md:p-0">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
