<div class="bg-purple py-12 overflow-hidden">
  <div class="mx-auto items-center max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center  md:px-12 my-6">
      <h1 class="<%= titleColor %> md:mt-2 lg:text-7xl md:text-7xl text-5xl font-black sm:leading-8 md:tracking-tight md:px-8"> <%= title %> </h1>
      <h3 class="text-2xl py-6 font-light md:mt-8 <%= descriptionColor %>">
          <%= description %> 
         </h3>
    
  </div>
  </div>
</div>
<!-- <img src="./img/tsg2.png" class="w-30 h-30  m-auto" alt=""> -->




<!-- <svg class="flash-separator m-auto mt-4 " width="70px" height="110px" viewBox="0 0 70 110" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-flash" fill="#FFD202">
    <polygon id="flash-path" points="36.2194255 42.3495913 58.5871111 42.3495913 4.21798766 110 22.3676855 63.0627807 0 63.0627807 21.813225 0 69.8806908 0"></polygon>
    </g>
  </g>
</svg> -->