<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
  <link href="/output.css" rel="stylesheet">
<title>About</title>
</head>

<body>
  <%- include('header.ejs') %>

  <div class="bg-white py-12">
    <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
      <div class="lg:text-center px-12">
        <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl px-8"> About this page </p>
        <h2 class="text-lg font-semibold text-indigo-600 m-8">  The act of constantly and openly perpetuating stereotypes and putting someone down can reinforce barriers in one's life (including in the workplace, when accessing leadership roles, and others). These are comments and actions directed towards people based on their gender identity and/or sexual orientation. These comments usually come from the societal belief that straight, for example, is a sign of being “normal”.</h2>   
      </div>


 </body>
</html>  