<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  <link href="/output.css" rel="stylesheet">
    <title>Add microagression</title>
</head>
<body>

     <!-- NAVBAR -->
    <div class="bg-purple "> 
        <%- include('partials/navbar.ejs') %>
      </div>

    <!-- HEADER-->
	  <div class="relative"> 
      <%- include('partials/page-header.ejs', {title: "Add your own microagression", 
      description: "Microaggressions are the everyday slights, insults, put-downs, and invalidations that queer communities experience in their day-to-day interactions. Microaggressions take many forms. We want to make sure every experience is heard. If you have one to share, feel free to add a new microaggression entry.",
      color: "bg-purple", titleColor:"text-pink", descriptionColor:"text-white"}) %>
        <!-- FORM-->

		<div class="w-full overflow-scroll  h-auto bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100 p-4 flex items-center justify-center" >
		<div class="items-center rounded-md border-2 border-gray py-6 md_px-10 md:my-10 md:px-20 sm:max-w-4xl w-full ">
        <div class="md:p-10 ">
			<form action="/add" method="POST" class=""> 
		    <label for="title">
				<div class="validation-error hide" id="title-invalid"> <p class="md:font-bold md:text-3xl text-xl md:m-0 m-4"> Please title your microaggression entry </p> </div>
				<textarea aria-label="Microaggression title" id="title" name="title" rows="4" class="m-6 focus:outline-none border-b block md:mb-8  my-4 w-5/6 text-m text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Give your entry a title."></textarea>
		        <div class="validation-error hide" id="title-invalid"> <p class="md:font-bold md:text-3xl text-xl md:m-0 m-4"> Please describe why is this harmful.</p> </div>
			   <textarea aria-label="Microaggression content" id="content" name="content" rows="4" class="m-6 focus:outline-none border-b block md:mb-8  my-4 w-5/6 text-m text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Why is this microagression harmful?"></textarea>
                 <div class="flex justify-center my-6">
				        <button class=" flex w-1/3 items-center justify-center rounded-md border px-8 py-3  text-base font-bold md:py-4 md:px-10 md:text-lg  text-black bg-gradient-to-r from-greenish to-lime " type="submit">Add </button>
                        </button>
                 </div>
                </label>
            </form>
		</div>
        </div>
    </div>
</div>

 <!-- FOOTER -->
<div class="flex-auto md:w-full justify-center mx-auto bg-purple"> 
	<%- include('partials/footer.ejs') %>
  </div>

</div>
<script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

</body>
</html>