<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/public/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />

<link href="/output.css" rel="stylesheet">

    <title>How to avoid causing microagressions</title>
</head>
<body>

    <!-- NAVBAR -->
    <div class="bg-purple"> 
        <%- include('partials/navbar.ejs') %>
      </div>

    <!-- HEADER-->
      <div class="relative pb-8"> 
        <%- include('partials/page-header.ejs', {title: "How to avoid causing microagressions? ", 
        description: "As suggested by the name, microaggressions seem small; but compounded over time, they can have an enormous impact on a person’s experience, health, and overall well-being. And what about if you’re the one who committed the microaggression? Below are some helpful tips to consider.",
        color: "bg-gradient-to-r from-one via-two to-three", titleColor:"text-pink", descriptionColor:"text-white"}) %>

    <!-- MAIN -->
        <div class ="mx-auto mb:m max-w-7xl px-4 pt-12 md:px-8 sm:px-6 lg:px-8 ">
            <img class="object-cover" alt="banner with caption Silence is Violence" src="../img/silence-violence.jpg">   
            <div class="text-base text-gray-800"> Photo by <a href="https://unsplash.com/@dyanawingso?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dyana Wing So</a> on <a href="https://unsplash.com/s/photos/solidarity?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>  </div>
        </div>

        <section class="bg-white00 py-4 mx-auto max-w-7xl px-8 sm:px-6 lg:px-8 text-gray-900"> 
            <p class= "text-2xl m-4"> First, recognize that it doesn’t make you a bad person. Many people with good intentions inadvertently say hurtful or offensive things from time to time. When you meet someone new, your brain instinctively begins to categorize the person and notice differences. It’s when our brains get “stuck” in these differences that microaggressions happen.  </p>

            <h2 class="text-3xl m-4 mt-8 font-black">  ⏯ PAUSE</h2>
            <p class= "text-2xl m-4">  Don’t be in a rush to speak or act. Pause before asking someone a personal question. 
                Pause before you describe a person’s personality in a certain way. Pause before you make a comparison between someone 
                and something else you’ve seen. These simple thoughts and moments are where bias lives so taking a second to think about
                 it make all the difference. </p>

                 <h2 class="text-3xl m-4 mt-8 font-black">  🤨 QUESTION </h2>
                 <p class= "text-2xl m-4"> Ask yourself these important questions. Is your brain getting stuck on differences that 
                    you’re noticing? Are they triggering things that you subconsciously believe? Are you making assumptions because of 
                    these beliefs? What will the person I’m interacting with feel or think when I say or do this? Awareness of our own bias
                     comes when we answer these questions for ourselves. </p>

                     <h2 class="text-3xl m-4 mt-8 font-black">  🖼 REFRAME </h2>
                 <p class= "text-2xl m-4">See the bigger picture. Sit in the uncomfortableness of your questions. List the things you can 
                    do to change your thoughts and behaviors. This could include researching other cultures and the history of certain phrases
                     to acknowledging the systems that give you the privilege of removing offensive phrases from your vocabulary one by one. 
                     Stop your defensive thoughts. Acknowledge that you can cause microaggressions, but it doesn’t make you a bad person. 
                     Unlearning bias won’t happen overnight.</p>

                     <p class="text-xl text-opacity-10 mx-4 my-8">Source: <a href="https://hbr.org/2020/07/when-and-how-to-respond-to-microaggressions" target="_blank">Harvard Business Review</a>, <a href="https://www.themicropedia.org/" target="_blank">Micropedia  </a> </p>
            </section>

            <section class="flex py-4 mx-auto my-6 max-w-7xl px-8 sm:px-6 lg:px-8 justify-center">
                <button  type="button" onclick="location.href='/respond'" class=" object-contain relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text- md:text-xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white">
                    <span class="relative px-5 py-2.5  transition-all ease-in duration-75">
                        How to respond to microagression? 
                    </span>
                  </button>
                  <button type="button" onclick="location.href='/info'" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-base md:text-xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white ">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 rounded-md">
                        More info about microagressions
                    </span>
                  </button>
                </section>
        </div>

 <!-- FOOTER -->
        <div class="flex-auto md:w-full justify-center mx-auto  bg-gradient-to-r from-one via-two to-three "> 
            <%- include('partials/footer.ejs') %>
          </div>
    
    <script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    

</body>
</html>