
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Micropedia</title>
    <link rel="stylesheet" href="/style.css">

    
  </head>
  <body>
	<section class="responseObjectContainer">
			<h2>ObjectList</h2>
			<section class="appPostFunctionality">
					<form action="/" method="POST" class="listHeader">
// for type, name, this depends on your data structure, type could be a number instead, name something else, etc
						<input type="text" name="title" value="title">
						<textarea rows="6" cols="45" name="content">content</textarea>
						<button type="submit">Add item to db collection</button>
						</form>
				</section>
		</section>
    <script src="/main.js">
    </script>
  </body>
</html>
