
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>That's so gay </title>
    <link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">

    
  </head>
  <body>
	<section class="main">
		<section class="header">
			<h1> That's so gay!</h1>
			<h3> Why you shouldn't be using this and other microagressions toward the queer community</h3>
		</section>

			<section class="about"> 
			<h2> What are microagressions?</h2>
			<p> (def.) Microaggressions are everyday snubs and insults that marginalized groups face.
				 They're often very subtle comments or actions that come from implicit bias and/or stereotypes. 
				 They might seem like a compliment (“You're beautiful for a transgender girl”), a harmless comment (“Where are you really from?”), 
				or a subconscious action (crossing the street to avoid a racialized person).</p>
			</section>

			<h2> Latest entries</h2>
			<section class="latest--entries"> 
				<ul class="microagressions--list">  <!-- create unordered list and assign a class to the list -->
					<% microagressionsList.forEach(details => {%> <!-- Use ejs to start a forEach loop; it's gonna run x documents time -->
						<li class="microagression--item"> <!-- //data id should be added here-->
						<div class="microagression--title">
							<%= details.title %> <!-- Use ejs to display the title of the item -->
						   </div>
						<div class="microagression--content">
							<%= details.content %> <!-- Use ejs to display the content of the item -->
						   </div>
						   
						<a href="/edit/<%=details._id %>" class="edit">EDIT</a>
						<a href="/remove/<%=details._id %>" class="remove">REMOVE</a>
						   </li>
						<% }) %>  <!-- EJS to close forEach  -->
				   </ul>
				</section>
		</section>
			
		<section class="form--wrapper"> 
			<h2> Add a microagression</h2>
			<p> Microaggressions take many forms. We want to make sure every experience is heard. 
				If you have one to share, feel free to submit a new microaggression entry.</p>

			<form action="/" method="POST" class="microagressions-form"> <!-- Creating a form with POST method that goes to the / route, so the server knows what to do"  -->
						<input type="text" name="title" value="Add a title">
						<textarea cols="45" rows= "10" name="content">Why is this harmful?</textarea>
						<button type="submit">Add new microagression</button>
				</form>
		</section>	
						
			</section>
			
		</section> 
    </script>
  </body>
</html>
