<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="/public/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
<link href="/output.css" rel="stylesheet">
  </head>

  <body>
    <!--  NAVBAR -->
    <div class="bg-purple "> 
      <%- include('partials/navbar.ejs') %>
    </div>

     <!-- PAGE HEADER -->
    <div class="relative">  
    <%- include('partials/page-header.ejs', {title: "Thanks for being here.",
    description: "It's time to share what we know about microagressions so more people can be mindful about their everyday comments and actions. Here are useful links and guidelines you can use to share with your friends.",
    color: "bg-purple", titleColor:"text-yellow", descriptionColor:"text-white"}) %>

   <!-- MAIN--> 
    <div class ="mx-auto justify-items-center mb:m max-w-7xl px-4 pt-20 md:px-8 sm:px-6 lg:px-8 ">
      <img width="1500" height="1062" alt="Whiteboard with caption 'Hello, my pronouns are' " src="https://images.unsplash.com/photo-1605818363303-7073f9171de9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">   
      <div class="text-base text-gray-800"> Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Grey</a> on <a href="https://unsplash.com/s/photos/queer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
     </a>
     </div>
    </div> 

    <div class="bg-white w-auto my-4"> 
      <section class=" pt-4 mx-auto max-w-7xl px-8 sm:px-6 lg:px-8"> 
        <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="group transition-all duration-300 ease-in-out">
        <p class="bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_5px] bg-no-repeat group-hover:bg-[length:100%_5px] transition-all duration-500 ease-out text-purple text-2xl md:text-3xl m-4 mt-8 font-bold"> Can I ask someone how they identify? (Like, about their sexual orientation or gender?)</p>
          </a>
          <p class="group transition-all duration-300 ease-in-out text-gray-900 text-2xl m-4 "> If you’re asking someone “do you identify as a man or a woman” so that you can know how to refer to them (i.e. their pronouns) is better to ask, “what are your pronouns?” 
            That’s the information you actually want to know (and often need to know) — so ask that instead. <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="bg-purple text-lime bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out "> Read more on The Safe Zone Project.</a>
           </p>

           <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="group transition-all duration-300 ease-in-out">
            <p class="bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_5px] bg-no-repeat group-hover:bg-[length:100%_5px] transition-all duration-500 ease-out text-purple text-2xl md:text-3xl m-4 mt-8 font-bold"> Things not to say to trans people</p>
              </a>
              <p class="group transition-all duration-300 ease-in-out text-gray-900 text-2xl m-4 "> If you're still unsure about microagressions towards trans people, look for more examples you shouldn't be using, link 'What's your REAL name?', 'Did you get the surgery?', 'When did you CHOOSE/DECIDE to be trans?'  <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="bg-purple text-lime bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out "> Read more on Harvard Business Review.</a>
               </p>

               <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="group transition-all duration-300 ease-in-out">
                <p class="bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_5px] bg-no-repeat group-hover:bg-[length:100%_5px] transition-all duration-500 ease-out text-purple text-2xl md:text-3xl m-4 mt-8 font-bold"> Things not to say to queer people</p>
                  </a>
                  <p class="group transition-all duration-300 ease-in-out text-gray-900 text-2xl m-4 "> Having the emotional space & grounding & energy to answer these questions is a privilege that not everyone holds.  <a href="https://www.pinkmantaray.com/resources/bullying" target="_blank" class="bg-purple text-lime bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out "> Read more on Harvard Business Review.</a>
                   </p>

           <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="group transition-all duration-300 ease-in-out">
            <p class="bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_5px] bg-no-repeat group-hover:bg-[length:100%_5px] transition-all duration-500 ease-out text-purple text-2xl md:text-3xl m-4 mt-8 font-bold"> When and how to respond to microaggressions</p>
              </a>
              <p class="group transition-all duration-300 ease-in-out text-gray-900 text-2xl m-4 ">Here’s a complete framework for deciding which path is right for the situation and how to handle the conversation if you choose to have one. <a href="https://www.pinkmantaray.com/resources/dontsay" target="_blank" class="bg-purple text-lime bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out "> Read more on Pink Mantaray.</a>
              </section>

                <div class="mx-auto items-center max-w-7xl px-8 sm:px-6 lg:px-8 pb-8"> 
                  <p class="bg-left-bottom bg-gradient-to-r from-purple to-lime bg-[length:0%_5px] bg-no-repeat group-hover:bg-[length:100%_5px] transition-all duration-500 ease-out text-purple text-2xl md:text-3xl m-4 mt-8 font-bold"> Weak, shady, disrespective - how would you describe microagressions? </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XoHzS-XNCSw" title="YouTube video player"  class="mx-auto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>                  
                </iframe>
                </div>
   
    </div>
  </div>

    <!-- FOOTER-->
<div class=" bg-gradient-to-r from-one via-two to-three"> 
  <%- include('partials/footer.ejs') %>
</div>

<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
<script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>

 </body>
</html>  
