
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
<link href="/output.css" rel="stylesheet">

<title>More info</title>
  </head>
  <body>

     <!-- NAVBAR -->
    <div class="bg-gradient-to-r from-green-400 to-blue-500"> 
      <%- include(partials/navbar.ejs') %>
    </div>  

     <!-- PAGE HEADER -->
     <div class="relative  bg-white"> 
    <%- include('partials/page-header.ejs', {title: "Thanks for being here. ", 
  description: "  It's time to share what we know about microagressions so more people can be mindful about their everyday comments and actions. Here are useful links and guidelines you can use to share with your friends.",
  color: "bg-gradient-to-r from-green-400 to-blue-500"}) %>

   <!-- MAIN-->
  <div class ="mx-auto justify-items-center mb:m max-w-7xl px-4 pt-20 md:px-8 sm:px-6 lg:px-8 ">
      <img width="1500" height="1062" alt="Whiteboard with caption 'Hello, my pronouns are' " src="https://images.unsplash.com/photo-1605818363303-7073f9171de9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">   
      <div class="text-base text-gray-800"> Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Grey</a> on <a href="https://unsplash.com/s/photos/queer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
     </a>
     </div>
    </div>

    <div class="bg-white w-auto my-4"> 
      <section class="py-4 mx-auto max-w-7xl px-8 sm:px-6 lg:px-8"> 
        <p class="text-gray-900 text-2xl md:text-3xl m-4 mt-8 font-bold"> <a href="https://thesafezoneproject.com/faq/can-i-ask-someone-how-they-identify/" target="_blank" class="bg-gradient-to-r hover:from-pink-500 hover:to-yellow-500"> Can I ask someone how they identify? (Like, about their sexual orientation or gender?)</p>
          <p class="text-gray-900 text-2xl m-4 mt-8 pb-8">
            If you’re asking someone “do you identify as a man or a woman” so that you can know how to refer to them (i.e. their pronouns) is better to ask, “what are your pronouns?” That’s the information you actually want to know (and often need to know) — so ask that instead. </a> </p>
      </section>
    </div>
  </div>

 <!-- FOOTER -->
      <div class="flex-auto md:w-full justify-center mx-auto  bg-green-500"> 
        <%- include('partials/footer.ejs') %>
      </div>

      <script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
