<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
  <link href="/output.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>

<title>Resources</title>
</head>

<body>
  <div class="wrapper relative"> 
  <div class="bg-green-500"> 
    <%- include('header.ejs') %>
  </div>

  <div class="bg-green-500 py-12">
    <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-8">
      <div class="lg:text-center px-12">
        <h1 class="mt-2 text-4xl font-black leading-8 tracking-tight gray-900 sm:text-7xl px-8">Change starts with you.
        </h1> 
          <h3 class="text-gray-900  text-4xl m-4 mt-16">
          It's time to share what we know about microagressions so more people can be mindful about their everyday subtle comments and actions. 
          Change starts here. It starts with you.
          </h3>  
            </div>
            </div>
          </div>



  <!-- <div class="mt-8 py-8">
      <p class= "mx-auto max-w-7xl mb-8 text-3xl text-gray-900 m-6 ">  Microagressions are (subtle) comments that usually come from the societal belief that straight or cis, for example, is a sign of being “normal”. 
    Assuming someone's gender pronouns, not asking about their pronouns or/and continuing to use the wrong pronouns after the correct ones have been shared is one very 
    common example of microaggression that deny the personal experience, emotions, or thoughts of a person. Comments like "You're too sensitive, I'm not transphobic!" 
    and asking a same-sex couple, “Is one of you the husband and the other the wife?” can make people feel or believe that they are devalued, and have serious effects 
    on one's self-esteem, mental health and their well-being in general. </p> 
  </div>

  <h2 class="lg:text-center px-12 my-8 text-3xl leading-8 tracking-tight text-gray-800 sm:text-3xl"> 
    Nasty, shady, disrespectful, weak.. How would you describe microagressions?</h2>
    
  </div> -->

  <!-- GRID -->
  <section class="bg-white m-8 mx-auto max-w-7xl"> 
      <div class="container pt-6 md:pt-24">
        <div class="grid sm:grid-cols-1 md:grid-cols-3 md:gap-7 sm:gap-3 gap-3 md:mb-2 grid-col-1 ">

         <div class="grid-item md:mb-2"> 
              <a href="#"> 
                <img  class="object-cover mx-auto h-min md:h-1/2 md:w-full w-4/6 rounded-lg" src="https://images.unsplash.com/photo-1629787606112-52736c09ea5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80">
              <h3 class="my-4 py-4 text-4xl font-bold leading-8 tracking-normal text-gray-900 center"> 
                What to do to avoid causing a microaggression
            </h3>
          </a>
            <p class="text-xl text-gray-900"> Whether you’ve observed, received, or delivered a microaggression, the situation is uncomfortable. But it doesn’t have to stay that way. The tips below will give you the tools to help better navigate the microaggression. </p>
         </div>

         <div class="grid-item md:mb-2"> 
          <a href="#"> 
            <img  class="object-cover h-min md:h-1/2  md:w-full rounded-t-lg" src="https://images.unsplash.com/photo-1591457410079-5f4ba0206fe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
          <h3 class="my-4 py-4 text-4xl font-bold leading-8 tracking-normal text-gray-900"> 
            What to do when you’ve received a microaggression
        </h3>
      </a>
      <p class="text-xl text-gray-900"> Check out resources to become a better ally  omnis laudantium voluptate sunt vel saepe. </p>     </div>

     <div class="grid-item md:mb-2"> 
      <a href="#"> 
        <img  class="object-cover md:h-1/2 h-min md:w-full rounded-t-lg" src="https://images.unsplash.com/photo-1629787606112-52736c09ea5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80">
      <h3 class="my-4 py-4 text-4xl font-bold leading-8 tracking-normal text-gray-900"> 
      Find out more about microagressions
    </h3>
  </a>
  <p class="text-xl text-gray-900"> Check out resources to become a better ally  omnis laudantium voluptate sunt vel saepe. </p> </div>
  
</div>


</section>  


</div>

  <div class="flex-auto md:w-full justify-center mx-auto  bg-green-500"> 
    <%- include('footer.ejs') %>
  </div>
  
</body>
</html>