<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  <link href="/output.css" rel="stylesheet">

<title>Resources</title>
</head>

<body>

    <!-- NAVBAE -->
  <div class="bg-purple"> 
    <%- include('partials/navbar.ejs') %>
  </div>


  <!-- PAGE HEADER -->
  <div class="relative"> 
  <%- include('partials/page-header.ejs', {title: "Change starts with you.", 
  description: " It's time to share what we know about microagressions so more people can be mindful about their everyday comments and actions. Change starts here. It starts with you.",
  color: "bg-gradient-to-r from-one via-two to-three", titleColor:"text-lime", descriptionColor:"text-white"}) %>


  <!-- GRID -->
  <section class="bg-white m-8 mx-auto max-w-7xl"> 
      <div class="container pt-6 md:pt-12">
        <div class="grid sm:grid-cols-1 md:grid-cols-3 md:gap-7 sm:gap-3 gap-3 md:mb-2 grid-col-1 ">
         <div class="grid-item md:mb-2 text-center"> 
              <a href="/avoid"> 
                <img  class="object-cover mx-auto h-min md:h-1/2 md:w-full w-4/6 rounded-lg" src="https://images.unsplash.com/photo-1591457410079-5f4ba0206fe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
              <h3 class="text-purple my-4 mx-auto lg:mx-2 py-4 text-4xl font-bold lg:leading-8 tracking-normal  text-gray-900r"> 
                How to avoid causing microagressions?
            </h3>
          </a>
            <p class="text-xl text-gray-900 px-2"> As suggested by the name, microaggressions seem small, but compounded over time, they can have an enormous impact on a person’s experience, health, and overall well-being.</p>
         </div>

         <div class="grid-item md:mb-2 text-center"> 
          <a href="/respond"> 
            <img  class="object-cover mx-auto h-min md:h-1/2 md:w-full w-4/6 rounded-lg" src="https://images.unsplash.com/photo-1596796099969-bdada13e2a86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
          <h3 class=" text-purple my-4 mx-2 py-4 text-4xl font-bold md:leading-8 tracking-normal text-gray-900"> 
            How to respond to microagression? 
        </h3>
      </a>
      <p class="text-xl text-gray-900 px-2"> There is no single correct way to respond to microaggressions, but here are some helpful tips from researchers to help better navigate the microaggression.</p> 

    </div>

     <div class="grid-item md:mb-2 text-center"> 
      <a href="/info"> 
        <img  class="object-cover mx-auto h-min md:h-1/2 md:w-full w-4/6 rounded-lg" src="https://images.unsplash.com/photo-1629787606112-52736c09ea5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80">
      <h3 class="text-purple my-4 mx-2 py-4 text-4xl font-bold md:leading-8 tracking-normal text-gray-900"> 
      Find out more about microagressions
    </h3>
  </a>
  <p class="text-xl text-gray-900 mx-2"> It's time to share what we know about microagressions so more people can be mindful about their everyday comments and actions. Check out resources to become a better ally. </p> </div>
</div>
</section>  
    </div>

    <!-- FOOTER-->
  <div class="flex-auto md:w-full justify-center mx-auto  bg-green-500"> 
    <%- include('partials/footer.ejs') %>
  </div>
  
  <script src="https://kit.fontawesome.com/c5d50179e9.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>