* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #FFB1A4;
  display: flex;
}

h1 {
    font-size: 5rem;
}

h2 {

    font-weight: 100;
    margin-top:3%;
}

p {
    width:80%;
    padding:2%;
}

form {
    display: flex;
    flex-direction: column;
  }

input,textarea {
    padding: 1%;
    margin: 1% 0;
    box-sizing: border-box;
}

.main {
    max-width: 1350px;
    border: 2px solid black; 
    padding: 2%;
}

.microagressions--list {
    margin-top:1%;
}

.microagressions--list li {
    list-style: none;
    padding: 1%;
}

.form--wrapper { 
    padding: 1%;
    border: 1px solid black; 
}

.microagression--title  {
    font-weight:600 ;
}

.edit, .remove, .confirm, .cancel{
    width: 50px;
    height: 30px;
}
